# Django Configuration
SECRET_KEY=django-insecure-27x24p(($4on-wq#vr=uukp0)512$3&$bms=j#9a4p&q)rjo&h
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

# Database Configuration (PostgreSQL)
DB_NAME=instrument_archive
DB_USER=postgres
DB_PASSWORD=Niraz123
DB_HOST=localhost
DB_PORT=5432

# Set to True to use SQLite instead of PostgreSQL (for development only)
USE_SQLITE=False

# CORS Configuration
CORS_ALLOWED_ORIGINS=http://localhost:5173,http://127.0.0.1:5173